<div class="card-container">
  <span class="p-float-label">
    <p-image [src]="previewImageSrc" alt="Image" width="500" [preview]="true" #imagePreview>
      <ng-template pTemplate="indicator">
        <i class="pi pi-eye"></i>
      </ng-template>
  </p-image>
  </span>

</div>

<div class="card-container flex flex-col m-auto content-center">
  <span class="p-float-label">
    <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="prompt"></textarea>
    <label for="float-input">Enter Image Prompt</label>
  </span>

  <p-button label="Generate Image" icon="pi pi-check" class="p-button-text w-fit mx-auto" (click)="generateImage()"></p-button>

</div>

<div class="card-container">
  <input pInputText type="text" [(ngModel)]="generatedId" placeholder="Prediction ID"/>
  <p-button label="Check Status" (click)="checkStatus()"></p-button>

</div>

<div class="flex flex-col justify-center content-center text-center">
  <h3 class="text-lg">Status</h3>

  <p>{{uploadStatus}}</p>
</div>

<div class="card-container">
  <p-timeline [value]="uploadLogs">
    <ng-template pTemplate="content" let-event>
      {{event}}
    </ng-template>

  </p-timeline>
</div>
